<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Distance</th>
        <th scope="col">Weather</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let place of componentPlaces; index as i '>
        <th scope="row">{{i+1}}</th>
        <td>{{place.PName}}</td>
        <td>{{place.distance}}</td>
        <td>{{place.weather}}</td>
      </tr>
    </tbody>
  </table>

  <input type="text" [(ngModel)] = "placeName">
  <button (click)= "sendToServices()">Enter</button>
  <button (click)= "data.callingFromHtml()">call Service</button>
